body, html {
  height: 100%;
  margin: 0;
}

.top-menu {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #4CBF50;
}
.top-middle {
  flex: 1;
  color: white;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #78c878;
}

.top-right {
  margin-left: auto;
}

.top-button {
  background-color: #4CBF50; /* Green */
  border: none;
  border-left: 1px solid green;
  color: white;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.top-button:hover {
  background-color: #3e8e41;
}
#load_file.top-button {
  min-width: 120px;
  border-left: none;
}
#save_svg.top-button {
  border-right: 1px solid green;
}

.main-flex {
  display: flex;
  width: 100%;
}
.edit-menu {
  width: 120px;
  background-color: #888888;
  display: block;
}
.scale {
  color: white;
  display: block;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.menu-button {
  min-width: 120px;
  background-color: #555555;
  border: 1px solid #888888;
  color: white;
  padding: 10px 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.menu-button:hover {
  background-color: #333333;
}
details summary {
  background-color: #555555;
  border: 1px solid #888888;
  cursor: pointer;
  color: white;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 16px;
}
details summary:hover {
  background-color: #333333;
}

details summary > * {
  display: block;
}

.edit-menu label {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 50%;
  border: none;
  outline: none;
}
.edit-menu input {
  width: 6ch;
}
.edit-menu select {
  background-color: #888888;
  color: white;
  width: 100%;
  border: none;
  outline: none;
}
option {
  background-color: #888888;
  color: white;
}

.main_pane {
  height: auto;
  min-height: 100% !important;
  flex: 1;
  background-color:  #efefef;
  border: solid 1px grey;
}

.dialogHeader {
  background-color: #333;
  color: #fff;
  padding: 8px;
  cursor: move;
}
.dialogContent {
  background-color: #fff;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.dialog {
  width:360px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  border: 1px solid black;
  visibility: hidden;
}
#layoutDialog.dialog {
  right: 20px;
}
#lifelineDialog.dialog {
  right: 100px;
}
#messageDialog.dialog {
  right: 180px;
}
#frameDialog.dialog {
  right: 360px;
}

.dialogContent label {
  display: inline-block;
  width: 130px;
  text-align: right;
}

.dialog.active {
  opacity: 1;
  pointer-events: auto;
}
table {
  display: inline-table;
  border-collapse: collapse;
}

#existingActBars {
  background-color: #cccccc;
}

#newActBar {
  background-color: #aaaaaa;
}

.initially-hidden {
  display: none;
}

.delBar {
  width: 3ch;
}

