body, html {
  height: 100%;
  margin: 0;
}

.top-menu {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #4CBF50;
}
.top-middle {
  flex: 1;
  text-align: center;
  color: white;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #78c878;
}

.top-right {
  margin-left: auto;
}

.top-button {
  background-color: #4CBF50; /* Green */
  border: none;
  border-left: 1px solid green;
  color: white;
  padding: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}


.top-button:hover {
  background-color: #3e8e41;
}
#load_file.top-button {
  border-left: none;
}
#save_svg.top-button {
  border-right: 1px solid green;
}

.main-flex {
  display: flex;
  width: 100%;
}
.edit-menu {
  width: 120px;
  background-color: #888888;
  display: block;
}

.menu-button {
  min-width: 120px;
  background-color: #555555;
  border: none;
  color: white;
  /*padding: 10px 25px; */
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  /*float: left;*/
}
.menu-button:hover {
  background-color: #333333;
}
details summary {
  background-color: #888888;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

details summary > * {
  display: block;
}

.edit-menu label {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 50%;
  border: none;
  outline: none;
}
.edit-menu input {
  width: 6ch;
}
.edit-menu select {
  background-color: #a8a8a8;
  color: white;
  width: 100%;
  border: none;
  outline: none;
}
option {
  background-color: #a8a8a8;
  color: white;
}

.main_pane {
  height: auto;
  min-height: 100% !important;
  flex: 1;
  background-color:  #efefef;
  border: solid 1px grey;
}

.dialogHeader {
  background-color: #333;
  color: #fff;
  padding: 8px;
  cursor: move;
}
.dialogContent {
  background-color: #fff;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.dialog {
  width:350px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 120px;
  top: 100px;
  border: 1px solid black;
  /*opacity: 0;
  pointer-events: none;*/
  visibility: hidden;
}
.dialogContent label {
  display: inline-block;
  width: 140px;
  text-align: right;
}
.dialog.active {
  opacity: 1;
  pointer-events: auto;
}
table {
  display: inline-table;
  border-collapse: collapse;
}
/*#activityBars th, #activityBars td {
  border: solid 1px;
}*/
#existingActBars {
  background-color: #cccccc;
}

#newActBar {
  background-color: #aaaaaa;
}

#finiteLifeline {
  display: none;
}

#showSyncResponse {
  display: none;
}

#syncResponse {
  display: none;
}

#sd-div {
  display: none;
}

#non-sd-div {
  display: none;
}

#alt-div {
  display: none;
}

.delBar {
  width: 3ch;
}

